# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# SwiftPM
/.build/
Packages/
Package.resolved
